In [1]:
import numpy as np
import pandas as pd

In [2]:
#ClusterNum
clusterNum=5
BattingClusters= pd.read_csv('./BatterClusters/PredBattingClusters.csv', index_col=0)
BattingClusters.head()

                Name     ID  Labels Active
0      J.D. Martinez   6184       6      Y
1  Andrew Benintendi  17901       8      Y
2         Brock Holt   9345      24      Y
3      Eduardo Nunez   6848      24      Y
4        Ian Kinsler   6195      14      Y

In [3]:
#Get Batters in a cluster.
BattersInCluster = BattingClusters[BattingClusters['Labels']==clusterNum]
BattersInCluster.head()

               Name     ID  Labels Active
35    Efren Navarro   9854       5      Y
141  Tyler Saladino  10807       5      Y
263   Andrew Romine   1159       5      Y
275  Pedro Florimon   8385       5      Y
338  Chase d'Arnaud   6652       5      Y

In [4]:
ID=BattersInCluster['ID'].values[0]
GameLog = pd.read_csv('../Data/DataBaseCrawler/GameLogs/Batters/'+str(ID)+'GL.csv', index_col=0)
FPs=GameLog['DKfp'][1:]
mean = np.mean(FPs)
var = np.var(FPs)
num = len(FPs)

In [5]:
ClusterVars = []
ClusterDFs = []
ClusterMeans = []
ClusterData=[]
for i in range(32):
    BattersInCluster = BattingClusters[BattingClusters['Labels']==i]
    Data=[]
    totVar = 0.0
    totNum = 0
    for batters in BattersInCluster.values:
        ID=batters[1]
        if batters[3] == 'Y':
            GameLog = pd.read_csv('../Data/DataBaseCrawler/GameLogs/Batters/'+str(ID)+'GL.csv', index_col=0)
        else:
            GameLog = pd.read_csv('../Data/DataBaseCrawler/GameLogs/InactiveBatters/'+str(ID)+'GL.csv', index_col=0)
        Name = batters[0]
        FPs=GameLog['DKfp'][1:]
        mean = np.mean(FPs)
        var = np.var(FPs)
        num = len(FPs)
        totVar = totVar+num*var
        totNum = totNum + num
        Data.append([Name,ID,mean,var,num])
    ClusterDF = pd.DataFrame(data=Data, columns=['Name', 'ID', 'Mean','Var','Count'])
    ClusterDFs.append(ClusterDF)
    ClusterVars.append(totVar/totNum)
    ClusterMeans.append(mean)
    ClusterData.append([i,mean,totVar/totNum])
ClusterDataDF = pd.DataFrame(data=ClusterData, columns=['Label', 'Mean FP', 'Var FP'])

In [6]:
#Save the cluster data
ClusterDataDF.to_csv('./ClusterVariance/VarianceClusters.csv')
ClusterDataDF.head()

   Label   Mean FP     Var FP
0      0  5.694545  34.197264
1      1  6.302158  56.300357
2      2  4.787736  41.913388
3      3  4.083756  35.234831
4      4  6.648214  46.950888