In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np

In [2]:
Link = 'https://www.fangraphs.com/statsplits.aspx?playerid=15640&position=OF&season=0'

In [3]:
rSplit = requests.get(Link)
soupSplit = BeautifulSoup(rSplit.text, "html.parser")

In [26]:
#Get the Standard table.
RowSet1=soupSplit.find("table",{"class":"rgMasterTable", "id":"SeasonSplits1_dgSeason1_ctl00"}).find_all("tr",{"class":"rgRow"})
RowSet2=soupSplit.find("table",{"class":"rgMasterTable", "id":"SeasonSplits1_dgSeason1_ctl00"}).find_all("tr",{"class":"rgAltRow"})

In [29]:
RowSet1[0].find_all('td')

[<td class="grid_line_regular">Total</td>,
 <td class="grid_line_regular">vs L as L</td>,
 <td align="right" class="grid_line_regular">11</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">6</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">1</td>,
 <td align="right" class="grid_line_regular">1</td>,
 <td align="right" class="grid_line_regular">.000</td>]

In [31]:
RowSet2[0].find_all('td')

[<td class="grid_line_regular">Total</td>,
 <td class="grid_line_regular">vs R as L</td>,
 <td align="right" class="grid_line_regular">70</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">50</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">0</td>,
 <td align="right" class="grid_line_regular">5</td>,
 <td align="right" class="grid_line_regular">6</td>,
 <td align="right" class="grid_line_regular">.000</td>]

In [51]:
Data = []
for i in range(3):
    taggedRow=RowSet1[i].find_all('td')
    Row1 = [x.get_text() for x in taggedRow]
    Row2 = []
    for item in Row1:
        try:
            nitem = float(item)
        except:
            try:
                nitem = str(item)
            except:
                nitem = 0.0
        Row2.append(nitem)
    Data.append(Row2)
    
    taggedRow=RowSet2[i].find_all('td')
    Row1 = [x.get_text() for x in taggedRow]
    Row2 = []
    for item in Row1:
        try:
            nitem = float(item)
        except:
            try:
                nitem = str(item)
            except:
                nitem = -1
        Row2.append(nitem)
    Data.append(Row2)

SyntaxError: invalid syntax (<ipython-input-51-68d907d26f14>, line 4)

In [50]:
SplitHandednessStdDF = pd.DataFrame(data=Data, columns=['Season','Handedness','G','AB','PA','H','1B','2B','3B','HR','R','RBI','BB','IBB','SO','HBP','SF','SH','GDP','SB','CS','AVG'])
SplitHandednessStdDF

,Season,Handedness,G,AB,PA,H,1B,2B,3B,HR,...,BB,IBB,SO,HBP,SF,SH,GDP,SB,CS,AVG
0,Total,vs L as L,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.000
1,Total,vs R as L,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,6.0,0.000
2,Total,vs L as R,135.0,224.0,298.0,52.0,27.0,9.0,1.0,15.0,...,71.0,8.0,95.0,3.0,0.0,0.0,3.0,1.0,0.0,0.232
3,Total,vs R as R,274.0,774.0,922.0,223.0,117.0,37.0,2.0,67.0,...,133.0,6.0,292.0,7.0,8.0,0.0,22.0,8.0,1.0,0.288
4,Total,vs L,136.0,224.0,298.0,52.0,27.0,9.0,1.0,15.0,...,71.0,8.0,95.0,3.0,0.0,0.0,3.0,2.0,1.0,0.232
5,Total,vs R,274.0,774.0,922.0,223.0,117.0,37.0,2.0,67.0,...,133.0,6.0,292.0,7.0,8.0,0.0,22.0,13.0,7.0,0.288

In [6]:
#Get Advanced Split Stats

,Season,Handedness,BB%,K%,BB/K,AVG,OBP,SLG,OPS,ISO,BABIP,wRC,wRAA,wOBA,wRC+
0,Total,vs L as L,0.0,0.0,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,
1,Total,vs R as L,0.0,0.0,0.00,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,
2,Total,vs L as R,23.8,31.9,0.75,0.232,0.423,0.482,0.905,0.250,0.325,53.0,17.1,0.387,145
3,Total,vs R as R,14.4,31.7,0.46,0.288,0.394,0.601,0.994,0.313,0.369,183.0,73.0,0.413,163
4,Total,vs L,23.8,31.9,0.75,0.232,0.423,0.482,0.905,0.250,0.325,53.0,17.1,0.387,145
5,Total,vs R,14.4,31.7,0.46,0.288,0.394,0.601,0.994,0.313,0.369,183.0,73.0,0.413,163

In [7]:
SplitHomeAwayAdvDF = pd.DataFrame(data=SplitHandedAdv[6:8], columns=['Season','Home/Away','BB%','K%','BB/K','AVG','OBP','SLG','OPS','ISO','BABIP','wRC','wRAA','wOBA','wRC+'])
SplitHomeAwayAdvDF

,Season,Home/Away,BB%,K%,BB/K,AVG,OBP,SLG,OPS,ISO,BABIP,wRC,wRAA,wOBA,wRC+
0,Total,Home,17.8,29.5,0.60,0.329,0.450,0.713,1.163,0.384,0.411,151.0,78.6,0.474,204.0
1,Total,Away,15.7,33.9,0.46,0.223,0.352,0.439,0.791,0.215,0.310,85.0,11.7,0.340,114.0

In [8]:
#Merge Handed Dataframes.
SplitHandedBatter = pd.merge(SplitHandedStdDF,SplitHandedAdvDF, on=['Season', 'Handedness', 'AVG'])
SplitHandedBatter

,Season,Handedness,G,AB,PA,H,1B,2B,3B,HR,...,AVG_y,OBP,SLG,OPS,ISO,BABIP,wRC,wRAA,wOBA,wRC+
0,Total,vs L as L,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,
1,Total,vs R as L,70.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.000,0.000,0.000,0.000,0.0,0.0,0.000,
2,Total,vs L as R,135.0,224.0,298.0,52.0,27.0,9.0,1.0,15.0,...,0.232,0.423,0.482,0.905,0.250,0.325,53.0,17.1,0.387,145
3,Total,vs R as R,274.0,774.0,922.0,223.0,117.0,37.0,2.0,67.0,...,0.288,0.394,0.601,0.994,0.313,0.369,183.0,73.0,0.413,163
4,Total,vs L,136.0,224.0,298.0,52.0,27.0,9.0,1.0,15.0,...,0.232,0.423,0.482,0.905,0.250,0.325,53.0,17.1,0.387,145
5,Total,vs R,274.0,774.0,922.0,223.0,117.0,37.0,2.0,67.0,...,0.288,0.394,0.601,0.994,0.313,0.369,183.0,73.0,0.413,163

In [9]:
#Merge Home/Away Dataframes.
SplitHomeAwayBatter = pd.merge(SplitHomeAwayStdDF,SplitHomeAwayAdvDF, on=['Season', 'Home/Away', 'AVG'])
SplitHomeAwayBatter

,Season,Home/Away,G,AB,PA,H,1B,2B,3B,HR,...,AVG_y,OBP,SLG,OPS,ISO,BABIP,wRC,wRAA,wOBA,wRC+
0,Total,Home,142.0,492.0,607.0,162.0,82.0,25.0,1.0,54.0,...,0.329,0.450,0.713,1.163,0.384,0.411,151.0,78.6,0.474,204.0
1,Total,Away,138.0,506.0,613.0,113.0,62.0,21.0,2.0,28.0,...,0.223,0.352,0.439,0.791,0.215,0.310,85.0,11.7,0.340,114.0

In [10]:
#Get Pitcher info
Link = 'https://www.fangraphs.com/statsplits.aspx?playerid=4930&position=P&season=0'

In [11]:
rSplit = requests.get(Link)
soupSplit = BeautifulSoup(rSplit.text, "html.parser")

In [12]:
#Get Standard Split Stats
SplitHandedStd=[]
StdTable=soupSplit.find("table",id="SeasonSplits1_dgSeason1_ctl00").find_all('td', 'grid_line_regular')
for i in range(4):
    Line = []
    for j in range(19):
        try:
            Line.append(float(StdTable[19*(i)+j].get_text().strip("%")))
        except:
            Line.append(StdTable[19*(i)+j].get_text())
    SplitHandedStd.append(Line)
SplitHandedStdDF = pd.DataFrame(data=SplitHandedStd[0:2], columns=['Season','Handedness','IP','ERA','TBF','H','2B','3B','R','ER','HR','BB','IBB','HBP','SO','AVG','OBP','SLG','wOBA'])
SplitHandedStdDF

,Season,Handedness,IP,ERA,TBF,H,2B,3B,R,ER,HR,BB,IBB,HBP,SO,AVG,OBP,SLG,wOBA
0,Total,vs L,573.2,- - -,2318.0,506.0,101.0,11.0,240.0,228.0,56.0,144.0,0.0,20.0,577.0,0.235,0.290,0.374,0.292
1,Total,vs R,1731.1,- - -,7255.0,1605.0,325.0,22.0,727.0,666.0,168.0,606.0,8.0,59.0,1560.0,0.244,0.315,0.381,0.307

In [13]:
SplitHomeAwayStdDF=pd.DataFrame(data=SplitHandedStd[2:4], columns=['Season','Home/Away','IP','ERA','TBF','H','2B','3B','R','ER','HR','BB','IBB','HBP','SO','AVG','OBP','SLG','wOBA'])
SplitHomeAwayStdDF

,Season,Home/Away,IP,ERA,TBF,H,2B,3B,R,ER,HR,BB,IBB,HBP,SO,AVG,OBP,SLG,wOBA
0,Total,Home,1160.1,3.39,4813.0,1073.0,246.0,17.0,483.0,437.0,106.0,372.0,3.0,32.0,1070.0,0.243,0.309,0.384,0.305
1,Total,Away,1144.2,3.59,4760.0,1038.0,180.0,16.0,484.0,457.0,118.0,378.0,5.0,47.0,1067.0,0.239,0.309,0.374,0.302

In [14]:
#Get Advanced Split Stats
SplitHandedAdv=[]
StdTable=soupSplit.find("table",id="SeasonSplits1_dgSeason2_ctl00").find_all('td', 'grid_line_regular')
for i in range(4):
    Line = []
    for j in range(15):
        try:
            Line.append(float(StdTable[15*(i)+j].get_text().strip("%")))
        except:
            Line.append(StdTable[15*(i)+j].get_text())
    SplitHandedAdv.append(Line)
SplitHandedAdvDF=pd.DataFrame(data=SplitHandedAdv[0:2], columns=['Season','Handedness','K/9','BB/9','K/BB','HR/9','K%','BB%','K-BB%','AVG','WHIP','BABIP','LOB%','FIP','xFIP'])
SplitHandedAdvDF

,Season,Handedness,K/9,BB/9,K/BB,HR/9,K%,BB%,K-BB%,AVG,WHIP,BABIP,LOB%,FIP,xFIP
0,Total,vs L,9.05,2.26,4.01,0.88,24.9,6.2,18.7,- - -,1.13,0.296,72.7,3.23,3.15
1,Total,vs R,8.11,3.15,2.57,0.87,21.5,8.4,13.2,- - -,1.28,0.296,75.8,3.72,3.83

In [15]:
SplitHomeAwayAdvDF=pd.DataFrame(data=SplitHandedAdv[2:4], columns=['Season','Home/Away','K/9','BB/9','K/BB','HR/9','K%','BB%','K-BB%','AVG','WHIP','BABIP','LOB%','FIP','xFIP'])

In [16]:
#Merge Handedness Pitcher
SplitHandedPitcher = pd.merge(SplitHandedStdDF,SplitHandedAdvDF, on=['Season', 'Handedness', 'AVG'])
SplitHandedPitcher

Empty DataFrame
Columns: [Season, Handedness, IP, ERA, TBF, H, 2B, 3B, R, ER, HR, BB, IBB, HBP, SO, AVG, OBP, SLG, wOBA, K/9, BB/9, K/BB, HR/9, K%, BB%, K-BB%, WHIP, BABIP, LOB%, FIP, xFIP]
Index: []

[0 rows x 31 columns]

In [17]:
#Merge Home/Away Pitcher
SplitHomeAwayPitcher = pd.merge(SplitHomeAwayStdDF,SplitHomeAwayAdvDF, on=['Season', 'Home/Away', 'AVG'])
SplitHomeAwayPitcher

,Season,Home/Away,IP,ERA,TBF,H,2B,3B,R,ER,...,K/BB,HR/9,K%,BB%,K-BB%,WHIP,BABIP,LOB%,FIP,xFIP
0,Total,Home,1160.1,3.39,4813.0,1073.0,246.0,17.0,483.0,437.0,...,2.88,0.82,22.2,7.7,14.5,1.25,0.299,74.8,3.5,3.61
1,Total,Away,1144.2,3.59,4760.0,1038.0,180.0,16.0,484.0,457.0,...,2.82,0.93,22.4,7.9,14.5,1.24,0.292,75.4,3.7,3.71