In [1]:
import numpy as np
import pandas as pd

In [2]:
import scipy.sparse

In [3]:
PredictionFile = pd.read_csv('DKProjectionsJuly13.csv')
PredictionFile.drop(columns=['Unnamed: 0'], inplace=True)
PredictionFile.head()

                Name     Team Position  Salary   DKFG  DKRoto         Var
0  Madison Bumgarner   Giants       SP   11400  20.64   20.99  120.093949
1   Noah Syndergaard     Mets       SP   11000  18.80   19.86  107.069016
2      Rick Porcello  Red Sox       SP    9800  15.73   17.14  100.565015
3     Walker Buehler  Dodgers       SP    9500  19.26   16.90  163.125316
4      Junior Guerra  Brewers       SP    9200  15.38   16.20   74.054117

In [4]:
#Get Teams
PredictionFile.head()
Teams = PredictionFile['Team'].unique()
Teams

array(['Giants', 'Mets', 'Red Sox', 'Dodgers', 'Brewers', 'Rangers',
       'Phillies', 'Nationals', 'Rays', 'Astros', 'Indians', 'Cardinals',
       'Pirates', 'Braves', 'Diamondbacks', 'Twins', 'Yankees', 'Reds',
       'Tigers', 'Angels', 'White Sox', 'Royals', 'Cubs', 'Athletics',
       'Blue Jays', 'Rockies', 'Mariners', 'Padres', 'Orioles', 'Marlins'],
      dtype=object)

In [5]:
npMtxTeam = PredictionFile[PredictionFile['Team']==Teams[0]]
npMtxTeam = npMtxTeam[npMtxTeam['Position']!='SP'].as_matrix()
npMtx = PredictionFile.as_matrix()
npMtxTeam

array([['Brandon Belt', 'Giants', '1B', 4400, 8.75, 8.11,
        53.10499810424986],
       ['Gorkys Hernandez', 'Giants', 'OF', 4000, 6.19, 6.57,
        19.25296885272847],
       ['Buster Posey', 'Giants', 'C', 3900, 7.6, 7.61,
        59.42706025094267],
       ['Andrew McCutchen', 'Giants', 'OF', 3800, 7.92, 8.33,
        78.58315583488462],
       ['Brandon Crawford', 'Giants', 'SS', 3700, 7.48, 7.19,
        37.98825813609467],
       ['Alen Hanson', 'Giants', '2B/OF', 3700, 7.23, 7.11,
        17.677146607246424],
       ['Steven Duggar', 'Giants', 'OF', 3700, 7.08, 7.76, 100.0],
       ['Pablo Sandoval', 'Giants', '1B/3B', 3500, 6.75, 6.18,
        46.49727194086426]], dtype=object)

In [6]:
#Open the Covariance File
Team = Teams[0]
CovarTeam = pd.read_csv('./TeamCovariance/'+Team+'COV.csv')
CovarTeam.drop(columns='Unnamed: 0', inplace=True)
CovarTeam = CovarTeam.as_matrix()

In [7]:
Name1 = npMtxTeam[0,0]
Name2 = npMtxTeam[1,0]

In [8]:
i1 = np.where(npMtx[:,0]==Name1)[0][0]
i2 = np.where(npMtx[:,0]==Name2)[0][0]

In [9]:
i1

80

In [10]:
i2

121

In [11]:
if Name1 in CovarTeam[CovarTeam[:,0]==Name2,1]:
    CovName1 = CovarTeam[CovarTeam[:,0]==Name2]
    CovName2 = CovName1[CovName1[:,1]==Name1]
    Cov = CovName2[0][6]

In [29]:
if Name2 in CovarTeam[CovarTeam[:,0]==Name1,1]:
    CovName1 = CovarTeam[CovarTeam[:,0]==Name1]
    CovName2 = CovName1[CovName1[:,1]==Name2]
    Cov = CovName2[0][6]

4.447972699032978

array([['Brandon Belt', 'Gorkys Hernandez', 'Giants', 0.271, 0.247,
        0.3912575265912723, 4.447972699032978, 180]], dtype=object)

In [34]:
row = []
row.append((1,2))

In [35]:
row

[(1, 2)]