In [1]:
import pandas as pd

In [2]:
Years = range(1990,2017)
year=2015

In [11]:
ScheduleLog = pd.read_csv('./RetrosheetData/Schedules/'+str(year)+'SKED.TXT',header=None)
ScheduleLog.columns = ['Date', 'GameNumber','Day of Week', 'Away Team', 'League Away', 'Game# Away', 'Home Team', 'League Home','Game# Home','Game Time', 'Postpone', 'Make Up Date']

In [12]:
ScheduleLog.head()

,Date,GameNumber,Day of Week,Away Team,League Away,Game# Away,Home Team,League Home,Game# Home,Game Time,Postpone,Make Up Date
0,20150405,0,Sun,SLN,NL,1,CHN,NL,1,n,NaN,NaN
1,20150406,0,Mon,ANA,AL,1,SEA,AL,1,d,NaN,NaN
2,20150406,0,Mon,ATL,NL,1,MIA,NL,1,d,NaN,NaN
3,20150406,0,Mon,BAL,AL,1,TBA,AL,1,d,NaN,NaN
4,20150406,0,Mon,BOS,AL,1,PHI,NL,1,d,NaN,NaN

In [16]:
GameLog = pd.read_csv('./RetrosheetData/GameLogs/gl'+str(year)+'.txt',header=None)

In [21]:
#Home plate Ump
GameLog.values[0,77:79]

array(['wintm901', 'Mike Winters'], dtype=object)

In [22]:
#Completion info.
GameLog.values[0,13]

nan

In [23]:
#Park ID
GameLog.values[0,16]

'CHI11'

In [24]:
#Visiting Team Batting Stats
GameLog.values[0,21:38]

array([36, 10, 3, 0, 0, 3, 0, 0, 0, 4, 1, 11, 4, 1, 0, 0, 10],
      dtype=object)

In [25]:
#Visiting Team Pitching Stats
GameLog.values[0,38:43]

array([4, 0, 0, 0, 0], dtype=object)

In [28]:
#VisitingStarters
# 1 (pitcher), 2 (catcher), 3 (first baseman), 4 (second baseman), 5 (third baseman), 6 (shortstop), 7 (left fielder), 8 (center fielder), and 9 (right fielder).
GameLog.values[0,105:132]

array(['carpm002', 'Matt Carpenter', 5, 'heywj001', 'Jason Heyward', 9,
       'hollm001', 'Matt Holliday', 7, 'peraj001', 'Jhonny Peralta', 6,
       'adamm002', 'Matt Adams', 3, 'moliy001', 'Yadier Molina', 2,
       'wongk001', 'Kolten Wong', 4, 'jay-j001', 'Jon Jay', 8, 'waina001',
       'Adam Wainwright', 1], dtype=object)