In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import numpy as np

In [2]:
Link = 'https://www.fangraphs.com/statsplits.aspx?playerid=15640&position=OF&season=0'

In [3]:
rSplit = requests.get(Link)
soupSplit = BeautifulSoup(rSplit.text, "html.parser")

In [4]:
#Get Standard Split Stats
SplitHandedStd=[]
StdTable=soupSplit.find("table",id="SeasonSplits1_dgSeason1_ctl00").find_all('td', 'grid_line_regular')
for i in range(8):
    Line = []
    for j in range(22):
        try:
            Line.append(float(StdTable[22*(i)+j].get_text().strip("%")))
        except:
            Line.append(StdTable[22*(i)+j].get_text())
    SplitHandedStd.append(Line)
SplitHandedStdDF = pd.DataFrame(data=SplitHandedStd[0:6], columns=['Season','Handedness','G','AB','PA','H','1B','2B','3B','HR','R','RBI','BB','IBB','SO','HBP','SF','SH','GDP','SB','CS','AVG'])
SplitHandedStdDF

,Season,Handedness,G,AB,PA,H,1B,2B,3B,HR,...,BB,IBB,SO,HBP,SF,SH,GDP,SB,CS,AVG
0,Total,vs L as L,11,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,.000
1,Total,vs R as L,70,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,5,6,.000
2,Total,vs L as R,135,224,298,52,27,9,1,15,...,71,8,95,3,0,0,3,1,0,.232
3,Total,vs R as R,273,773,920,222,116,37,2,67,...,133,6,292,6,8,0,22,8,1,.287
4,Total,vs L,136,224,298,52,27,9,1,15,...,71,8,95,3,0,0,3,2,1,.232
5,Total,vs R,273,773,920,222,116,37,2,67,...,133,6,292,6,8,0,22,13,7,.287

In [5]:
SplitHomeAwayStdDF = pd.DataFrame(data=SplitHandedStd[6:8], columns=['Season','Home/Away','G','AB','PA','H','1B','2B','3B','HR','R','RBI','BB','IBB','SO','HBP','SF','SH','GDP','SB','CS','AVG'])
SplitHomeAwayStdDF

,Season,Home/Away,G,AB,PA,H,1B,2B,3B,HR,...,BB,IBB,SO,HBP,SF,SH,GDP,SB,CS,AVG
0,Total,Home,141,491,605,161,81,25,1,54,...,108,7,179,2,4,0,10,9,5,.328
1,Total,Away,138,506,613,113,62,21,2,28,...,96,7,208,7,4,0,15,6,3,.223

In [6]:
#Get Advanced Split Stats
SplitHandedAdv=[]
StdTable=soupSplit.find("table",id="SeasonSplits1_dgSeason2_ctl00").find_all('td', 'grid_line_regular')
for i in range(8):
    Line = []
    for j in range(15):
        try:
            Line.append(float(StdTable[15*(i)+j].get_text().strip("%")))
        except:
            Line.append(StdTable[15*(i)+j].get_text())
    SplitHandedAdv.append(Line)
SplitHandedAdvDF = pd.DataFrame(data=SplitHandedAdv[0:6], columns=['Season','Handedness','BB%','K%','BB/K','AVG','OBP','SLG','OPS','ISO','BABIP','wRC','wRAA','wOBA','wRC+'])
SplitHandedAdvDF

,Season,Handedness,BB%,K%,BB/K,AVG,OBP,SLG,OPS,ISO,BABIP,wRC,wRAA,wOBA,wRC+
0,Total,vs L as L,0.0 %,0.0 %,0.00,.000,.000,.000,.000,.000,.000,0,0.0,.000,
1,Total,vs R as L,0.0 %,0.0 %,0.00,.000,.000,.000,.000,.000,.000,0,0.0,.000,
2,Total,vs L as R,23.8 %,31.9 %,0.75,.232,.423,.482,.905,.250,.325,53,17.2,.387,145
3,Total,vs R as R,14.5 %,31.7 %,0.46,.287,.392,.600,.993,.313,.367,182,72.3,.412,162
4,Total,vs L,23.8 %,31.9 %,0.75,.232,.423,.482,.905,.250,.325,53,17.2,.387,145
5,Total,vs R,14.5 %,31.7 %,0.46,.287,.392,.600,.993,.313,.367,182,72.3,.412,162

In [7]:
SplitHomeAwayAdvDF = pd.DataFrame(data=SplitHandedAdv[6:8], columns=['Season','Home/Away','BB%','K%','BB/K','AVG','OBP','SLG','OPS','ISO','BABIP','wRC','wRAA','wOBA','wRC+'])
SplitHomeAwayAdvDF

,Season,Home/Away,BB%,K%,BB/K,AVG,OBP,SLG,OPS,ISO,BABIP,wRC,wRAA,wOBA,wRC+
0,Total,Home,17.9 %,29.6 %,0.60,.328,.448,.713,1.161,.385,.408,150,77.9,.473,203
1,Total,Away,15.7 %,33.9 %,0.46,.223,.352,.439,.791,.215,.310,85,11.7,.340,114

In [8]:
#Merge Handed Dataframes.
SplitHandedBatter = pd.merge(SplitHandedStdDF,SplitHandedAdvDF, on=['Season', 'Handedness'])
SplitHandedBatter

,Season,Handedness,G,AB,PA,H,1B,2B,3B,HR,...,AVG_y,OBP,SLG,OPS,ISO,BABIP,wRC,wRAA,wOBA,wRC+
0,Total,vs L as L,11,0,0,0,0,0,0,0,...,.000,.000,.000,.000,.000,.000,0,0.0,.000,
1,Total,vs R as L,70,0,0,0,0,0,0,0,...,.000,.000,.000,.000,.000,.000,0,0.0,.000,
2,Total,vs L as R,135,224,298,52,27,9,1,15,...,.232,.423,.482,.905,.250,.325,53,17.2,.387,145
3,Total,vs R as R,273,773,920,222,116,37,2,67,...,.287,.392,.600,.993,.313,.367,182,72.3,.412,162
4,Total,vs L,136,224,298,52,27,9,1,15,...,.232,.423,.482,.905,.250,.325,53,17.2,.387,145
5,Total,vs R,273,773,920,222,116,37,2,67,...,.287,.392,.600,.993,.313,.367,182,72.3,.412,162

In [9]:
#Merge Home/Away Dataframes.
SplitHomeAwayBatter = pd.merge(SplitHomeAwayStdDF,SplitHomeAwayAdvDF, on=['Season', 'Home/Away'])
SplitHomeAwayBatter

,Season,Home/Away,G,AB,PA,H,1B,2B,3B,HR,...,AVG_y,OBP,SLG,OPS,ISO,BABIP,wRC,wRAA,wOBA,wRC+
0,Total,Home,141,491,605,161,81,25,1,54,...,.328,.448,.713,1.161,.385,.408,150,77.9,.473,203
1,Total,Away,138,506,613,113,62,21,2,28,...,.223,.352,.439,.791,.215,.310,85,11.7,.340,114

In [10]:
#Get Pitcher info
Link = 'https://www.fangraphs.com/statsplits.aspx?playerid=4930&position=P&season=0'

In [11]:
rSplit = requests.get(Link)
soupSplit = BeautifulSoup(rSplit.text, "html.parser")

In [12]:
#Get Standard Split Stats
SplitHandedStd=[]
StdTable=soupSplit.find("table",id="SeasonSplits1_dgSeason1_ctl00").find_all('td', 'grid_line_regular')
for i in range(4):
    Line = []
    for j in range(19):
        try:
            Line.append(float(StdTable[19*(i)+j].get_text().strip("%")))
        except:
            Line.append(StdTable[19*(i)+j].get_text())
    SplitHandedStd.append(Line)
SplitHandedStdDF = pd.DataFrame(data=SplitHandedStd[0:2], columns=['Season','Handedness','IP','ERA','TBF','H','2B','3B','R','ER','HR','BB','IBB','HBP','SO','AVG','OBP','SLG','wOBA'])
SplitHandedStdDF

,Season,Handedness,IP,ERA,TBF,H,2B,3B,R,ER,HR,BB,IBB,HBP,SO,AVG,OBP,SLG,wOBA
0,Total,vs L,573.2,- - -,2318,506,101,11,240,228,56,144,0,20,577,.235,.290,.374,.292
1,Total,vs R,1731.1,- - -,7255,1605,325,22,727,666,168,606,8,59,1560,.244,.315,.381,.307

In [13]:
SplitHomeAwayStdDF=pd.DataFrame(data=SplitHandedStd[2:4], columns=['Season','Home/Away','IP','ERA','TBF','H','2B','3B','R','ER','HR','BB','IBB','HBP','SO','AVG','OBP','SLG','wOBA'])
SplitHomeAwayStdDF

,Season,Home/Away,IP,ERA,TBF,H,2B,3B,R,ER,HR,BB,IBB,HBP,SO,AVG,OBP,SLG,wOBA
0,Total,Home,1160.1,3.39,4813,1073,246,17,483,437,106,372,3,32,1070,.243,.309,.384,.305
1,Total,Away,1144.2,3.59,4760,1038,180,16,484,457,118,378,5,47,1067,.239,.309,.374,.302

In [14]:
#Get Advanced Split Stats
SplitHandedAdv=[]
StdTable=soupSplit.find("table",id="SeasonSplits1_dgSeason2_ctl00").find_all('td', 'grid_line_regular')
for i in range(4):
    Line = []
    for j in range(15):
        try:
            Line.append(float(StdTable[15*(i)+j].get_text().strip("%")))
        except:
            Line.append(StdTable[15*(i)+j].get_text())
    SplitHandedAdv.append(Line)
SplitHandedAdvDF=pd.DataFrame(data=SplitHandedAdv[0:2], columns=['Season','Handedness','K/9','BB/9','K/BB','HR/9','K%','BB%','K-BB%','AVG','WHIP','BABIP','LOB%','FIP','xFIP'])
SplitHandedAdvDF

,Season,Handedness,K/9,BB/9,K/BB,HR/9,K%,BB%,K-BB%,AVG,WHIP,BABIP,LOB%,FIP,xFIP
0,Total,vs L,9.05,2.26,4.01,0.88,24.9 %,6.2 %,18.7 %,- - -,1.13,.296,72.7 %,3.23,3.15
1,Total,vs R,8.11,3.15,2.57,0.87,21.5 %,8.4 %,13.2 %,- - -,1.28,.296,75.8 %,3.72,3.83

In [15]:
SplitHomeAwayAdvDF=pd.DataFrame(data=SplitHandedAdv[2:4], columns=['Season','Home/Away','K/9','BB/9','K/BB','HR/9','K%','BB%','K-BB%','AVG','WHIP','BABIP','LOB%','FIP','xFIP'])

In [16]:
#Merge Handedness Pitcher
SplitHandedPitcher = pd.merge(SplitHandedStdDF,SplitHandedAdvDF, on=['Season', 'Handedness'])
SplitHandedPitcher

,Season,Handedness,IP,ERA,TBF,H,2B,3B,R,ER,...,HR/9,K%,BB%,K-BB%,AVG_y,WHIP,BABIP,LOB%,FIP,xFIP
0,Total,vs L,573.2,- - -,2318,506,101,11,240,228,...,0.88,24.9 %,6.2 %,18.7 %,- - -,1.13,.296,72.7 %,3.23,3.15
1,Total,vs R,1731.1,- - -,7255,1605,325,22,727,666,...,0.87,21.5 %,8.4 %,13.2 %,- - -,1.28,.296,75.8 %,3.72,3.83

In [17]:
#Merge Home/Away Pitcher
SplitHomeAwayPitcher = pd.merge(SplitHomeAwayStdDF,SplitHomeAwayAdvDF, on=['Season', 'Home/Away'])
SplitHomeAwayPitcher

,Season,Home/Away,IP,ERA,TBF,H,2B,3B,R,ER,...,HR/9,K%,BB%,K-BB%,AVG_y,WHIP,BABIP,LOB%,FIP,xFIP
0,Total,Home,1160.1,3.39,4813,1073,246,17,483,437,...,0.82,22.2 %,7.7 %,14.5 %,.243,1.25,.299,74.8 %,3.50,3.61
1,Total,Away,1144.2,3.59,4760,1038,180,16,484,457,...,0.93,22.4 %,7.9 %,14.5 %,.239,1.24,.292,75.4 %,3.70,3.71